{% extends 'main.html' %}

{% block content %}
<section class="py-2 px-4">
    <h2 class="text-center">Word Combinations</h2>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="words" class="form-label">Words (separated with commas)</label>
                <input type="text" name="words" id="words" required class="form-control" placeholder="Word1, Word2, Word3...">
            </div>
            <div class="mb-3">
                <label for="number_of_combinations" class="form-label">Number of combinations</label>
                <input type="number" name="number_of_combinations" id="startNumber" value="3" required class="form-control" >
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</section>
<section>
    {% if combinations %}
    <h2 class="text-center">Possible Combinations</h2>
    <h3>Total Number of Combinations: {{ combinations_length}}</h3>
    {% for combination in combinations %}
    <div>
        <div class="bg-primary p-2 text-white fw-bold m-2 d-inline-block">
            {{combination}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock content %}
